#copyButton, #helpMessage {
    -fx-text-fill: #404A72;
}

#copyButton {
    -fx-background-color: #8489B6;
}

#copyButton:hover {
    -fx-background-color: #F18D1D;
}

#copyButton:armed {
    -fx-background-color: #EB6137;
}

#helpMessageContainer {
    -fx-background-color: #CCDFEF;
}
